@model Pear.DAL.Data.Suppliers

<div class="form-group">
    @Html.LabelFor(model => model.SupplierName, new { @class = "col-form-label" })
    @Html.TextBoxFor(model => model.SupplierName, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.SupplierName, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.SupplierID)

</div>